doc/html
fixspec/fix.4.2/*
!fixspec/fix.4.2/fix-42-with_errata_20010501_pdf.zip
fixspec/fix.4.3/*
!fixspec/fix.4.3/FIX-43-with_errata_20020920_PDF.ZIP
fixspec/fix.4.4/*
!fixspec/fix.4.4/fix-44_w_Errata_20030618_PDF.zip
fixspec/fix.5.0.sp2/*
fixspec/fix.5.0.sp2/fixmlschema/*
!fixspec/fix.5.0.sp2/*.pdf
!fixspec/fix.5.0.sp2/fixmlschema_FIX.5.0SP2_Errata_20131209.zip
fixspec/FIXRepository/*
!fixspec/FIXRepository/FIXRepository_FIX.5.0SP2_EP240.zip
!fixspec/FIXRepository/Basic/Fields.xml
!fixspec/FIXRepository/Basic/Messages.xml
fixspec/spec-parse-fields/.stack-work
fixspec/spec-parse-fields/stack.yaml.lock
test/bin
test/produced
util/bin
tags
README.html
test/data/*.fix
