EXCHANGE=coinbase

INSTRUMENT=BTC-USD

# If set to e.g. 0.1, only 10% of the base asset's total available balance will be used. Similar for quote.
BASE_AVAILABLE_BALANCE_PROPORTION=1
QUOTE_AVAILABLE_BALANCE_PROPORTION=1

# The desired ratio of base asset value against quote asset value.
INVENTORY_BASE_QUOTE_RATIO_TARGET=1

# If set to e.g. 0.02 (=2%), the order price will be 1% away from the mid price.
SPREAD_PROPORTION_MINIMUM=0.001
SPREAD_PROPORTION_MAXIMUM=0.02

// 50% order size is a special case for ping pong
ORDER_QUANTITY_PROPORTION=0.1
ORDER_REFRESH_INTERVAL_SECONDS=15

# If set to a non-negative value e.g. 1, and ORDER_REFRESH_INTERVAL_SECONDS is set to 15, the market making period will always start at 1, 16, 31, 46 seconds of the minute. This feature is useful to avoid exchange API rate limit when market making using the same API key.
ORDER_REFRESH_INTERVAL_OFFSET_SECONDS=-1

# Some exchanges cache account balances. Therefore after canceling all open orders, we'd wait a little bit for the held funds to be released.
ACCOUNT_BALANCE_REFRESH_WAIT_SECONDS=1

# If the exchange supports subaccount and you want to use it.
ACCOUNT_ID=''

# The program saves data (e.g. balance, trades, orders) as CSV files. This value specifies the directory in which these files are saved. Leave empty if you want to use current working directory.
SAVE_CSV_DIRECTORY=''

# If at any moment the maximum drawdown is higher than this value, the program will terminate (with all open orders canceled).
KILL_SWITCH_MAXIMUM_DRAWDOWN=0.1

COINBASE_API_KEY=''
COINBASE_API_SECRET=''
COINBASE_API_PASSPHRASE=''

GEMINI_API_KEY=''
GEMINI_API_SECRET=''

BINANCE_API_KEY=''
BINANCE_API_SECRET=''

BINANCE_US_API_KEY=''
BINANCE_US_API_SECRET=''

HUOBI_API_KEY=''
HUOBI_API_SECRET=''

OKEX_API_KEY=''
OKEX_API_SECRET=''
OKEX_API_PASSPHRASE=''
OKEX_API_X_SIMULATED_TRADING='0'

KUCOIN_API_KEY=''
KUCOIN_API_SECRET=''
KUCOIN_API_PASSPHRASE=''
KUCOIN_API_KEY_VERSION='2'

FTX_API_KEY=''
FTX_API_SECRET=''
FTX_API_SUBACCOUNT=''

FTX_US_API_KEY=''
FTX_US_API_SECRET=''
FTX_US_API_SUBACCOUNT=''
