# If set to true, the program will enable protection against adverse selection.
# https://www.princeton.edu/~markus/teaching/Eco467/05Lecture/04a_MarketMaking.pdf
ENABLE_ADVERSE_SELECTION_GUARD=false

# The time interval of market data buffer.
ADVERSE_SELECTION_GUARD_MARKET_DATA_SAMPLE_INTERVAL_SECONDS=1

# The oldest time that a market data point is kept in the buffer.
ADVERSE_SELECTION_GUARD_MARKET_DATA_SAMPLE_BUFFER_SIZE_SECONDS=300

# If set to true, the program will enable use of ROC.
# https://www.investopedia.com/terms/r/rateofchange.asp
ENABLE_ADVERSE_SELECTION_GUARD_BY_ROC=false

# The number of observations needed to calculate ROC.
ADVERSE_SELECTION_GUARD_TRIGGER_ROC_NUM_OBSERVATIONS=20

# Trigger adverse selection guard actions if ROC is below this number.
ADVERSE_SELECTION_GUARD_TRIGGER_ROC_MINIMUM=0

# Trigger adverse selection guard actions if ROC is above this number.
ADVERSE_SELECTION_GUARD_TRIGGER_ROC_MAXIMUM=0

# If set to true, the program will enable use of Roll Coefficient.
# https://medium.com/open-crypto-market-data-initiative/from-classical-paper-to-practical-trader-a-quantitative-journey-part-vi-45b74709eda
ENABLE_ADVERSE_SELECTION_GUARD_BY_ROLL_CORRELATION_COEFFICIENT=false

# The number of observations needed to calculate Roll Coefficient.
ADVERSE_SELECTION_GUARD_TRIGGER_ROLL_CORRELATION_COEFFICIENT_NUM_OBSERVATIONS=20

# Trigger adverse selection guard actions if Roll Coefficient is above this number.
ADVERSE_SELECTION_GUARD_TRIGGER_ROLL_CORRELATION_COEFFICIENT_MAXIMUM=0

# If set to true, the program will enable use of inventory limit.
ENABLE_ADVERSE_SELECTION_GUARD_BY_INVENTORY_LIMIT=false

# Trigger adverse selection guard actions if inventory base quote ratio is below this number.
ADVERSE_SELECTION_GUARD_TRIGGER_INVENTORY_BASE_QUOTE_RATIO_MINIMUM=0.05

# Trigger adverse selection guard actions if inventory base quote ratio is above this number.
ADVERSE_SELECTION_GUARD_TRIGGER_INVENTORY_BASE_QUOTE_RATIO_MAXIMUM=20

# If set to true, the program will enable use of inventory depletion.
ENABLE_ADVERSE_SELECTION_GUARD_BY_INVENTORY_DEPLETION=false

# Take this action if adverse selection was found.
# 'none': Do nothing.
# 'make': Submit one-side market making order at best possible price. Not supported yet.
# 'take': Submit one-side market taking order at best possible price. Not supported yet.
ADVERSE_SELECTION_GUARD_ACTION_TYPE=none

# If set to e.g. 0.1, a single buy or sell order's quantity will use 10% of total available capital ( = base available
# capital + quote available capital).
ADVERSE_SELECTION_GUARD_ACTION_ORDER_QUANTITY_PROPORTION=0.1

# If set to true, the program will take ADVERSE_SELECTION_GUARD_ACTION_ORDER_QUANTITY_PROPORTION as relative to the
# available capital of one asset instead of both assets.
ADVERSE_SELECTION_GUARD_ACTION_ORDER_QUANTITY_PROPORTION_RELATIVE_TO_ONE_ASSET=false

# If set to e.g. 15, orders will be canceled and replaced after 15 seconds.
# If not set to be equal to ORDER_REFRESH_INTERVAL_SECONDS, it is incompatible with ORDER_REFRESH_INTERVAL_OFFSET_SECONDS
ADVERSE_SELECTION_GUARD_ACTION_ORDER_REFRESH_INTERVAL_SECONDS=15
