# The code uses a simplified version of Avellaneda & Stoikov’s inventory strategy. The market making buy/sell order price is
# controlled by SPREAD_PROPORTION_MINIMUM, SPREAD_PROPORTION_MAXIMUM, and the available base/quote capital via a linear
# relationship. The price moves from
# SPREAD_PROPORTION_MINIMUM to SPREAD_PROPORTION_MAXIMUM when the inventory moves from INVENTORY_BASE_QUOTE_RATIO_TARGET to
# one asset completely depleted. The market making buy/sell
# order quantity is controlled by ORDER_QUANTITY_PROPORTION and the available total capital.

# live: live trade
# paper: paper trade
# backtest: backtest
TRADING_MODE=live

EXCHANGE=coinbase

INSTRUMENT=BTC-USD

# If set to e.g. 0.1, only 10% of the base asset's total available balance will be used as base available capital.
BASE_AVAILABLE_BALANCE_PROPORTION=1

# If set to e.g. 0.1, only 10% of the quote asset's total available balance will be used as quote available capital.
QUOTE_AVAILABLE_BALANCE_PROPORTION=1

# The desired ratio of base asset value against quote asset value.
INVENTORY_BASE_QUOTE_RATIO_TARGET=1

# If set to true, use weighted mid price as mid price.
# https://quant.stackexchange.com/questions/50651/how-to-understand-micro-price-aka-weighted-mid-price
USE_WEIGHTED_MID_PRICE=false

# If set to e.g. 0.001 ( = 0.1%), the corresponding price will be 0.1% away from the mid price.
SPREAD_PROPORTION_MINIMUM=0.001

# If set to e.g. 0.02 ( = 2%), the corresponding price will be 2% away from the mid price.
SPREAD_PROPORTION_MAXIMUM=0.02

# If set to e.g. 0.1, a single buy or sell order's quantity will use 10% of total available capital ( = base available
# capital + quote available capital).
# If set to 0.5, it is effectively a ping-pong strategy.
ORDER_QUANTITY_PROPORTION=0.1

# If set to e.g. 15, orders will be canceled and replaced after 15 seconds.
ORDER_REFRESH_INTERVAL_SECONDS=15

# If set to a non-negative value e.g. 1, and ORDER_REFRESH_INTERVAL_SECONDS is set to 15, the market making period will
# always start at 1, 16, 31, 46 seconds of the minute. This feature is useful to avoid exchange API rate limit when market
# making using the same API key.
ORDER_REFRESH_INTERVAL_OFFSET_SECONDS=-1

# Some exchanges cache account balances. Therefore after canceling all open orders, we'd wait a little bit for the held
# funds to be released.
ACCOUNT_BALANCE_REFRESH_WAIT_SECONDS=1

# If the exchange supports subaccount and you want to use it.
ACCOUNT_ID=''

# The program saves private data (e.g. balances, trades, orders) as CSV files. This value specifies the directory in which these
# files are saved. Leave empty if you want to use current working directory.
PRIVATE_DATA_DIRECTORY=''

# If set to e.g. 0.1, then at any moment if the maximum drawdown is larger than 10%, the program will cancel all open orders and terminate itself.
KILL_SWITCH_MAXIMUM_DRAWDOWN=0.1

# If set to true, the program will print out more information.
PRINT_DEBUG=false


# start: only applicable to live trade

COINBASE_API_KEY=''
COINBASE_API_SECRET=''
COINBASE_API_PASSPHRASE=''

GEMINI_API_KEY=''
GEMINI_API_SECRET=''

BINANCE_API_KEY=''
BINANCE_API_SECRET=''

BINANCE_US_API_KEY=''
BINANCE_US_API_SECRET=''

HUOBI_API_KEY=''
HUOBI_API_SECRET=''

OKEX_API_KEY=''
OKEX_API_SECRET=''
OKEX_API_PASSPHRASE=''
OKEX_API_X_SIMULATED_TRADING='0'

KUCOIN_API_KEY=''
KUCOIN_API_SECRET=''
KUCOIN_API_PASSPHRASE=''
KUCOIN_API_KEY_VERSION='2'

FTX_API_KEY=''
FTX_API_SECRET=''
FTX_API_SUBACCOUNT=''

FTX_US_API_KEY=''
FTX_US_API_SECRET=''
FTX_US_API_SUBACCOUNT=''

# end: only applicable to live trade


# start: only applicable to paper trade and backtest

# Hypothetical initial base asset balance
INITIAL_BASE_BALANCE=0

# Hypothetical initial quote asset balance
INITIAL_QUOTE_BALANCE=10000

# If set to e.g. 0.001, for a maker each trade will carry a fee of 0.1% of the transacted value.
MAKER_FEE=0.001

# If set to e.g. USD, for a maker buyer the trading fee is charged in USD.
MAKER_BUYER_FEE_ASSET=USD

# If set to e.g. USD, for a maker seller the trading fee is charged in USD.
MAKER_SELLER_FEE_ASSET=USD

# end: only applicable to paper trade and backtest


# start: only applicable to backtest

# The backtest start date, e.g. 2021-08-22.
START_DATE=''

# The backtest end date, e.g. 2021-08-23. Exclusive.
END_DATE=''

# The directory in which historical market data files are saved.
HISTORICAL_MARKET_DATA_DIRECTORY=''

# end: only applicable to backtest
