##
ADVERSE_SELECTION_GUARD_MARKET_DATA_SAMPLE_INTERVAL_SECONDS=1

ADVERSE_SELECTION_GUARD_MARKET_DATA_SAMPLE_BUFFER_SIZE_SECONDS=300

ENABLE_ADVERSE_SELECTION_GUARD_BY_ROC=false

ADVERSE_SELECTION_GUARD_TRIGGER_ROC_NUM_OBSERVATIONS=20

ADVERSE_SELECTION_GUARD_TRIGGER_ROC_MINIMUM=0

ADVERSE_SELECTION_GUARD_TRIGGER_ROC_MAXIMUM=0

ENABLE_ADVERSE_SELECTION_GUARD_BY_ROLL_CORRELATION_COEFFICIENT=false

ADVERSE_SELECTION_GUARD_TRIGGER_ROLL_CORRELATION_COEFFICIENT_NUM_OBSERVATIONS=20

ADVERSE_SELECTION_GUARD_TRIGGER_ROLL_CORRELATION_COEFFICIENT_MAXIMUM=0

ENABLE_ADVERSE_SELECTION_GUARD_BY_INVENTORY_LIMIT=false

ADVERSE_SELECTION_GUARD_TRIGGER_INVENTORY_BASE_QUOTE_RATIO_MINIMUM=0.05

ADVERSE_SELECTION_GUARD_TRIGGER_INVENTORY_BASE_QUOTE_RATIO_MAXIMUM=20

ENABLE_ADVERSE_SELECTION_GUARD_BY_INVENTORY_DEPLETION=false

ENABLE_ADVERSE_SELECTION_GUARD_BY_INVENTORY_SOFT=false

## 'make': Submit one-side market making order at best possible price.
## 'take': Submit one-side market taking order at best possible price. Not supported yet.
ADVERSE_SELECTION_GUARD_ACTION_TYPE=make

ADVERSE_SELECTION_GUARD_ACTION_ORDER_QUANTITY_PROPORTION=0.1

ADVERSE_SELECTION_GUARD_ACTION_ORDER_QUANTITY_PROPORTION_RELATIVE_TO_ONE_ASSET=false

## If not set to be equal to ORDER_REFRESH_INTERVAL_SECONDS, it is incompatible with ORDER_REFRESH_INTERVAL_OFFSET_SECONDS
ADVERSE_SELECTION_GUARD_ACTION_ORDER_REFRESH_INTERVAL_SECONDS=15
