include_guard(DIRECTORY)

# If you encountered segmentation fault at run-time, comment out the following line.
set(CMAKE_INTERPROCEDURAL_OPTIMIZATION TRUE)

# add_compile_definitions(CCAPI_ENABLE_EXCHANGE_COINBASE)
#
# add_compile_definitions(CCAPI_ENABLE_EXCHANGE_GEMINI)
#
# add_compile_definitions(CCAPI_ENABLE_EXCHANGE_KRAKEN)
#
# add_compile_definitions(CCAPI_ENABLE_EXCHANGE_BINANCE_US)
# add_compile_definitions(CCAPI_ENABLE_EXCHANGE_BINANCE)
#
# add_compile_definitions(CCAPI_ENABLE_EXCHANGE_OKEX)
#
# add_compile_definitions(CCAPI_ENABLE_EXCHANGE_KUCOIN)
#
# add_compile_definitions(CCAPI_ENABLE_EXCHANGE_FTX)
# add_compile_definitions(CCAPI_ENABLE_EXCHANGE_FTX_US)
#
# find_package(ZLIB REQUIRED)
# link_libraries(ZLIB::ZLIB)

# If you are backtesting, comment out the following line.
add_compile_definitions(APP_ENABLE_LOG_INFO)

# If uncommented, the program will print out more information.
# add_compile_definitions(APP_ENABLE_LOG_DEBUG)

# If you are debugging, comment out the following lines.
add_compile_definitions(CCAPI_BEST_BID_N_PRICE="b")
add_compile_definitions(CCAPI_BEST_BID_N_SIZE="B")
add_compile_definitions(CCAPI_BEST_ASK_N_PRICE="a")
add_compile_definitions(CCAPI_BEST_ASK_N_SIZE="A")
add_compile_definitions(CCAPI_CHANNEL_ID="c")
add_compile_definitions(CCAPI_PRODUCT_ID="p")
add_compile_definitions(CCAPI_MARKET_DEPTH_MAX="m")
add_compile_definitions(CCAPI_CONFLATE_INTERVAL_MILLISECONDS="i")
add_compile_definitions(CCAPI_CONFLATE_GRACE_PERIOD_MILLISECONDS="g")
add_compile_definitions(CCAPI_LAST_PRICE="l")
add_compile_definitions(CCAPI_LAST_SIZE="L")
add_compile_definitions(CCAPI_TRADE_ID="t")
add_compile_definitions(CCAPI_AGG_TRADE_ID="a")
add_compile_definitions(CCAPI_SEQUENCE_NUMBER="s")
add_compile_definitions(CCAPI_IS_BUYER_MAKER="i")
add_compile_definitions(PUBLIC_SUBSCRIPTION_DATA_MARKET_DEPTH_CORRELATION_ID="m")
add_compile_definitions(PUBLIC_SUBSCRIPTION_DATA_TRADE_CORRELATION_ID="t")
