COINBASE_API_KEY=''
COINBASE_API_SECRET=''
COINBASE_API_PASSPHRASE=''

GEMINI_API_KEY=''
GEMINI_API_SECRET=''

KRAKEN_API_KEY=''
KRAKEN_API_SECRET=''

BITFINEX_API_KEY=''
BITFINEX_API_SECRET=''

BINANCE_API_KEY=''
BINANCE_API_SECRET=''

BINANCE_US_API_KEY=''
BINANCE_US_API_SECRET=''

OKX_API_KEY=''
OKX_API_SECRET=''
OKX_API_PASSPHRASE=''
OKX_API_X_SIMULATED_TRADING='0'

KUCOIN_API_KEY=''
KUCOIN_API_SECRET=''
KUCOIN_API_PASSPHRASE=''

FTX_API_KEY=''
FTX_API_SECRET=''
FTX_API_SUBACCOUNT=''

FTX_US_API_KEY=''
FTX_US_API_SECRET=''
FTX_US_API_SUBACCOUNT=''

GATEIO_API_KEY=''
GATEIO_API_SECRET=''

CRYPTOCOM_API_KEY=''
CRYPTOCOM_API_SECRET=''

BYBIT_API_KEY=''
BYBIT_API_SECRET=''

ASCENDEX_API_KEY=''
ASCENDEX_API_SECRET=''
ASCENDEX_API_ACCOUNT_GROUP=''
