include_guard(DIRECTORY)

# If you encountered segmentation fault at run-time, comment out the following line.
set(CMAKE_INTERPROCEDURAL_OPTIMIZATION TRUE)

# add_compile_definitions(CCAPI_ENABLE_EXCHANGE_COINBASE)
#
# add_compile_definitions(CCAPI_ENABLE_EXCHANGE_GEMINI)
#
# add_compile_definitions(CCAPI_ENABLE_EXCHANGE_KRAKEN)
#
# add_compile_definitions(CCAPI_ENABLE_EXCHANGE_BINANCE_US)
# add_compile_definitions(CCAPI_ENABLE_EXCHANGE_BINANCE)
#
# add_compile_definitions(CCAPI_ENABLE_EXCHANGE_OKEX)
#
# add_compile_definitions(CCAPI_ENABLE_EXCHANGE_KUCOIN)
#
# add_compile_definitions(CCAPI_ENABLE_EXCHANGE_FTX)
# add_compile_definitions(CCAPI_ENABLE_EXCHANGE_FTX_US)
#
# add_compile_definitions(CCAPI_ENABLE_EXCHANGE_GATEIO)
#
# find_package(ZLIB REQUIRED)
# link_libraries(ZLIB::ZLIB)

# If backtesting, you may want to comment out the following line to improve speed.
add_compile_definitions(APP_ENABLE_LOG_INFO)

# If uncommented, the program will print out more information.
# add_compile_definitions(APP_ENABLE_LOG_DEBUG)

# If you have custom logics and want to reuse part of class EventHandlerBase.
# add_compile_definitions(USE_CUSTOM_EVENT_HANDLER)
# get_filename_component(CUSTOM_EVENT_HANDLER_DIRECTORY ${CUSTOM_EVENT_HANDLER_PATH} DIRECTORY)
# include_directories(${CUSTOM_EVENT_HANDLER_DIRECTORY})
