# start: only applicable to backtest

# The base asset. Only needed if you want to start many backtest processes simultaneously.
# See e.g. https://api.exchange.coinbase.com/products/BTC-USD
BASE_ASSET_OVERRIDE=''

# The quote asset. Only needed if you want to start many backtest processes simultaneously.
# See e.g. https://api.exchange.coinbase.com/products/BTC-USD
QUOTE_ASSET_OVERRIDE=''

# The smallest value that the order price can increment. Only needed if you want to start many backtest processes simultaneously.
# See e.g. https://api.exchange.coinbase.com/products/BTC-USD
ORDER_PRICE_INCREMENT_OVERRIDE=''

# The smallest value that the order quantity can increment. Only needed if you want to start many backtest processes simultaneously.
# See e.g. https://api.exchange.coinbase.com/products/BTC-USD
ORDER_QUANTITY_INCREMENT_OVERRIDE=''

# end: only applicable to backtest
